body{
    margin: 10px;
}
.container{
    display: grid;
    grid-template-rows:repeat(2,100px);
    grid-template-columns:repeat(2,100px);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
    border: 3px solid grey;
    
    
}
.box{
    width: 5rem;
    height: 5rem;
    background-color: aqua;}

    /*    */
    @media screen and (max-width: 797px){
        h1{
            background-color: white;
        }
    }
        
    